*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
:root{
    /* Color Style  */
    --first-color:#E02C6D;
    --second-color:#3A3A3A;
    --thard-color:#0A0826;
    --forth-color:#FFFFFF;
    /* Font Style   */
    --first-font:1.5rem; /*24px*/
    --second-font:1rem; /*16px*/
    --third-font:1.75rem; /*28px*/
    --forth-font:0.8rem; /*14px*/
    --fifth-font:2.3rem; /*38px*/
    --sixth-font:3.25rem; /*52px*/
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 150px;
}
.nav-container h3{
    font-size: var(--first-font);
}
.nav-container ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: var(--second-font);
}
.nav-container ul a{
    text-decoration: none;
    color: black;
}
.banner{
    display: flex;
    padding:30px 150px;
    justify-content: space-between;
    align-items: center;
    color: var(--second-color);
}
.banner-container{
    width: 50%;
}
.banner-titel{
    font-size: var(--sixth-font);
}
.banner-discription{
    font-size: var(--second-font);
    margin-top: 20px;
    width: 500px;
}
.btn-prymary{
    font-size:var(--second-font) ;
    color:var(--forth-color) ;
    background:var(--first-color) ;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    margin-top: 20px;
}
.banner-img{
    background: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}
.banner-img img{
    width: 400px;
    margin: 50px;
}
@media screen and (max-width:576px) {
    .nav-container{
        padding: 10px;
    }
    .list-items{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        padding: 30px;
        text-align: center;
    }
    .banner-container{
        width: 100%;
    }
    .banner-titel{
        font-size: var(--third-font);
    }
    .banner-discription{
        font-size: var(--forth-font);
        width: auto;
    }
    .banner-img{
        background-size: 350px ;
        background-position-x: center;
        height: auto;
    }
    .banner-img img{
        width: 300px;
        margin-top: 30px;
    }
}