*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
:root{
    /* Color Style  */
    --first-color:#E02C6D;
    --second-color:#3A3A3A;
    --thard-color:#0A0826;
    --forth-color:#FFFFFF;
    /* Font Style   */
    --first-font:1.5rem; /*24px*/
    --second-font:1rem; /*16px*/
    --third-font:1.75rem; /*28px*/
    --forth-font:0.8rem; /*14px*/
    --fifth-font:2.3rem; /*38px*/
    --sixth-font:3.25rem; /*52px*/
}
/* Nav Seciton Style  */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 150px;
}
.nav-container h3{
    font-size: var(--first-font);
}
.nav-container ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: var(--second-font);
}
.nav-container ul a{
    text-decoration: none;
    color: black;
}
/* Banner Section Style  */
.banner{
    display: flex;
    padding:30px 150px;
    justify-content: space-between;
    align-items: center;
    color: var(--second-color);
}
.banner-container{
    width: 50%;
}
.banner-titel{
    font-size: var(--sixth-font);
}
.banner-discription{
    font-size: var(--second-font);
    margin-top: 20px;
    width: 500px;
}
.btn-prymary{
    font-size:var(--second-font) ;
    color:var(--forth-color) ;
    background:var(--first-color) ;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    margin-top: 20px;
}
.banner-img{
    background: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
}
.banner-img img{
    width: 400px;
    margin: 50px;
}
/* Company Section Style  */
.company{
    text-align: center;
    margin-top: 20px;
}
.company img{
    margin-right: 50px;
}
/* Populer Section Style  */
.populer{
    margin: 0 200px;
}
.populer-titel{
    text-align: center;
    margin: 150px 0 40px;
}
.populer-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.popoler-container{
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px #888888;
    padding: 20px;
    margin-top: 20px;
}
.reting i{
    color: #FB8200;
}
.reting{
    display: flex;
    align-items: center;
}
.populer-reting{
    margin-left: 10px;
}
.populer-titel{
    font-size: var(--third-font);
    color: var(--second-color);
}
.populer-items-titel{
    font-size: var(--third-font);
    font-weight: 400;
}
.populer-price{
    font-size: var(--first-font);
    font-weight: 300;
}
.popoler-container p{
    font-size:var(--second-font) ;
    color: var(--second-color);
}
/* Responsive For Mobile  */
@media screen and (max-width:576px) {
    *{
        overflow-x: hidden;
    }
    /* Responsive Navbar  */
    .nav-container{
        padding: 20px;
    }
    .list-items{
        display: none;
    }
    /* Responsive Banner  */
    .banner{
        flex-direction: column-reverse;
        padding: 30px;
        text-align: center;
    }
    .banner-container{
        width: 100%;
    }
    .banner-titel{
        font-size: var(--third-font);
    }
    .banner-discription{
        font-size: var(--forth-font);
        width: auto;
    }
    .banner-img{
        background-size: 70% ;
        background-position-x: center;
        height: auto;
    }
    .banner-img img{
        width: 60%;
        margin-top: 30px;
    }
    /* Responsive Company  */
    .company{
        flex-wrap: wrap;
    }
    .company img{
        margin: 5px 10px;
        width: 60px;
    }
    .populer{
        margin: auto;
    }
    .populer-titel{
        margin: 50px 0 40px;
    }
    .populer-main-container{
        grid-template-columns: repeat(1, 1fr);
    }
}